@media screen and (min-width: 320px) and (max-width: 480px) {

    .contact_title {
        font-size: 1.5rem;
    }

    input[type=text] {
        width: 20rem;
    }

    textarea {
        height: 12rem;
        width: 20rem;
    }

}

@media screen and (min-width: 481px) and (max-width: 640px) {

    input[type=text] {
        width: 28rem;
    }

    textarea {
        height: 20rem;
        width: 28rem;
    }

}