@media screen and (min-width: 320px) and (max-width: 480px) {

    #contact_me_section {
        padding: 6rem 0 4rem 0;
    }

    .contact_title {
        font-size: 1.65rem;
    }

    input[type=text] {
        width: 18rem;
    }

    textarea {
        height: 12rem;
        width: 18rem;
    }

    .form_button {
        font-size: var(--secondary-font-size-4);
    }

}

@media screen and (min-width: 481px) and (max-width: 640px) {

    input[type=text] {
        width: 28rem;
    }

    textarea {
        height: 20rem;
        width: 28rem;
    }

}