@media screen and (min-width: 321px) and (max-width: 375px) {

    #footer_paragraph {
        font-size: .9rem;
        font-weight: 400;
    }

}

@media screen and (max-width: 320px) {

    #footer_paragraph {
        font-size: .8rem;
    }

    #copyright {
        font-size: 1rem;
    }

}