@media screen and (max-width: 320px) {

    #footer_paragraph {
        font-size: .8rem;
    }

    #copyright {
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 321px) and (max-width: 480px) {

    #footer_paragraph {
        font-size: .8rem;
    }

    #copyright {
        font-size: 1.25rem;
    }

}