@media screen and (max-width: 320px) {

    #homepage_content {
        gap: 2.5rem;
    }

    #homepage_title {
        font-size: 2rem;
        font-weight: 400;
    }

    #homepage_subtitle {
        font-size: 1rem;
        font-weight: 400;
    }

    .homepage_button {
        font-size: 1rem;
        font-weight: 400;
        width: auto;
    }

}