@media screen and (max-width: 320px) {

    #homepage_content {
        gap: 2.5rem;
    }

    #homepage_title {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    #homepage_subtitle {
        font-size: 1rem;
        font-weight: 400;
    }

    .homepage_button {
        font-size: 1rem;
        font-weight: 400;
        width: auto;
    }

}

@media screen and (min-width: 321px) and (max-width: 480px) {

    #homepage_content {
        gap: 3rem;
    }

    #homepage_title {
        font-size: 2.3rem;
    }

    #homepage_subtitle {
        font-size: .9rem;
    }

    .homepage_button {
        font-size: .9rem;
    }
    
}