@media screen and (max-width: 320px) {

    #homepage_section {
        padding-top: 3rem;
    }

    #homepage_content {
        gap: 1.75rem;
    }

    #homepage_title {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    #homepage_subtitle {
        font-size: .9rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .homepage_button {
        font-size: .8rem;
        font-weight: var(--font-weight-500);
        width: auto;
    }

}

@media screen and (min-width: 321px) and (max-width: 480px) {

    #homepage_content {
        padding-top: 3rem;
        gap: 2rem;
    }

    #homepage_title {
        font-size: 2.2rem;
    }

    #homepage_subtitle {
        font-size: 1rem;
        line-height: 2rem;
    }

    .homepage_button {
        font-size: .9rem;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    #homepage_content {
        padding-top: 3rem;
        gap: 2rem;
    }

    #homepage_title {
        font-size: 2.2rem;
    }

    #homepage_subtitle {
        font-size: 1rem;
        line-height: 2rem;
    }

    .homepage_button {
        font-size: .9rem;
    }
}