@media screen and (max-width: 379px) {

    .project_title {
        font-size: 1.4rem;
        padding: 6rem 0 2rem 0;
    }

    #project_container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        padding-bottom: 5rem;
    }

    .project_card {
        height: auto;
        max-width: 22rem;
        width: 100%;
        padding: .2rem .75rem;
        gap: .5rem;
    }

    .card_title {
        font-size: 1.25rem;
        font-weight: 600;
        padding: .25rem 0;
        text-underline-offset: 5px;
    }

    .card_subtitle {
        font-size: .9rem;
        font-weight: 500;
        line-height: 1.2rem;
        padding: .1rem 0;
    }

    .project_description {
        font-size: .8rem;
        font-weight: 500;
        padding: .1rem 0;
        line-height: 1.5rem;
    }

    .project_button {
        font-size: .7rem;
        font-weight: 600;
    }

}

@media screen and (min-width: 380px) and (max-width: 639px) {

    .project_title {
        font-size: 1.5rem;
        padding: 5rem 0;
    }

    #project_container {
        grid-template-columns: 1fr;
        row-gap: 5em;
        padding: 0 0 8rem 0;
    }

    .project_card {
        height: 16rem;
        max-width: 24rem;
        width: 100%;
        padding: .5rem 1rem;
        gap: .75rem;
    }

    .card_title {
        font-size: 1.1rem;
        font-weight: 600;
        padding: .25rem 0;
        text-underline-offset: 5px;
    }

    .card_subtitle {
        font-size: .7rem;
        font-weight: 500;
        line-height: 1.4rem;
        padding: .25rem 0;
    }

    .tech_stack {
        font-size: .9rem;
        font-weight: 500;
        text-decoration: underline;
        padding: .5rem 0;
    }

    .description {
        font-size: .75rem;
        font-weight: 500;
        padding: .1rem 0;
    }

    .project_description {
        font-size: .8rem;
        font-weight: 500;
        line-height: 1.4rem;
    }

    .project_control_panel {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        padding: 0 0 .1rem 0;
    }

    .project_button {
        font-size: 1rem;
        font-weight: 600;
    }

}


@media screen and (min-width: 640px) and (max-width: 1024px) {

    #projects_section {
        padding: 8rem 0 0 0;
        gap: 3rem;
    }

    .project_title {
        padding: 0 0 2rem 0;
    }

    #project_container {
        grid-template-columns: 1fr;
        row-gap: 5em;
    }

}