@media screen and (max-width: 320px) {

    #skills_section {
        justify-content: flex-start;
        padding: 3rem 0 0 0;
        gap: 3rem;
    }

    .skills_container {
        padding: 0 0 6rem 0;
    }

    .skills_title {
        padding: 2rem 0 2rem 0;
    }

    .skills_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        width: 100%;
        row-gap: 6rem;
    }

    .category_title {
        font-size: 1.1rem;
        padding: 4rem 0;
    }

    .skills_icon {
        font-size: 2.25rem;
    }

    .skill_title {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 321px) and (max-width: 640px) {

    #skills_section {
        justify-content: flex-start;
        padding: 3rem 0 0 0;
        gap: 3rem;
    }

    .skills_container {
        padding: 0 0 8rem 0;
    }

    .skills_title {
        padding: 2rem 0 2rem 0;
    }

    .skills_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        width: 100%;
        row-gap: 6rem;
    }

    .category_title {
        font-size: 1.2rem;
        padding: 3rem 0;
    }

    .skills_icon {
        font-size: 2.3rem;
    }

    .skill_title {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 641px) and (max-width: 768px) {

    #skills_section {
        justify-content: flex-start;
        padding: 3rem 0 0 0;
        gap: 3rem;
    }

    .skills_container {
        padding: 0 0 8rem 0;
        row-gap: 4rem;
    }

    .skills_title {
        padding: 3rem 0;
    }

    .skills_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        width: 100%;
        row-gap: 6rem;
    }

    .category_title {
        font-size: 1.2rem;
        padding: 3rem 0;
    }

    .skills_icon {
        font-size: 2.3rem;
    }

    .skill_title {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #skills_section {
        justify-content: flex-start;
        padding: 3rem 0 0 0;
        gap: 3rem;
    }

    .skills_container {
        padding: 0 0 8rem 0;
        row-gap: 4rem;
    }

    .skills_title {
        padding: 3rem 0;
    }

    .skills_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        width: 100%;
        row-gap: 6rem;
    }

    .category_title {
        font-size: 1.2rem;
        padding: 3rem 0;
    }

    .skills_icon {
        font-size: 2.3rem;
    }

    .skill_title {
        font-size: 1.2rem;
    }

}