@media screen and (max-width: 320px) {

    .about-me-container {
        grid-template-columns: 1fr;
        padding: 0 5rem;
    }

    .about-title {
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: .1rem;
        margin: 3rem 0;
        text-transform: capitalize;
        animation: anime-title 1s ease-in forwards;
        text-align: center;
    }

    .image-container {
        height: auto;
        width: 24rem;
    }

    .about-intro {
        font-family: "Matangi", Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 4rem;
    }

    .about-paragraph {
        font-size: 1.35rem;
        font-weight: 400;
        line-height: 3.5rem;
        margin: 4rem 0 0 0;
    }

}

@media screen and (min-width: 321px) and (max-width: 576px) {

    .about-me-container {
        grid-template-columns: 1fr;
        padding: 0 5rem;
    }

    .about-title {
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin: 3rem 0;
        text-transform: capitalize;
        animation: anime-title 1s ease-in forwards;
        text-align: center;
    }

    .image-container {
        height: auto;
        width: 26rem;
    }

    .about-intro {
        font-family: "Matangi", Arial, sans-serif;
        font-size: 1.55rem;
        font-weight: 600;
        line-height: 4rem;
        text-align: normal;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .about-me-container {
        grid-template-columns: 1fr;
        padding: 0 5rem;
    }

    .about-title {
        font-size: 2.75rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin: 3rem 0;
        text-transform: capitalize;
        animation: anime-title 1s ease-in forwards;
        text-align: center;
    }

    .about-intro {
        font-family: "Matangi", Arial, sans-serif;
        font-size: 1.55rem;
        font-weight: 600;
        line-height: 4rem;
        text-align: normal;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .about-title {
        font-size: 2.85rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin: 3rem 0;
        text-transform: capitalize;
        animation: anime-title 1s ease-in forwards;
        text-align: center;
    }

    .about-intro {
        font-family: "Matangi", Arial, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        line-height: 4.5rem;
        text-align: normal;
    }

    .about-paragraph {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        margin: 2rem 0 0 0;
        text-align: normal;
    }
}