@media screen and (max-width: 600px) {

    h3, .contact-title {
        font-size: 2.5rem;
        margin: 2rem 0 2rem 0;
    }

    .user-input {
        height: 4rem;
        width: 26rem;
    }

    .textarea-input {
        height: 15rem;
        width: 26rem;
    }

    .form-button {
        font-size: 1.25rem;
        font-weight: 400;
    }
}