@media screen and (max-width: 320px) {

    nav {
        padding: 3rem 4rem;
        align-items: center;
        justify-content: space-between;
        animation: none !important;
    }

    .nav-desktop-container {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 2.25rem;
    }

}

@media screen and (min-width: 321px) and (max-width: 575px) {

    nav {
        padding: 2rem;
        align-items: center;
        padding: 3rem 4rem;
        animation: none !important;
        justify-content: space-between;
    }

    .nav-desktop-container {
        display: none;
    }

    .nav-mobile-container.show {
        display: flex;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-mobile-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        margin: 0 0 10rem 0;
    }

    .nav-mobile-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
    }

    .hamburger-menu {
        display: block;
        font-size: 2.25rem;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {

    nav {
        padding: 3rem 8rem;
    }

    .nav-desktop-container {
        display: none;
    }

    .nav-mobile-container.show {
        display: flex;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-mobile-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        margin: 0 0 10rem 0;
    }

    .nav-mobile-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
    }

    .hamburger-menu {
        display: block;
        font-size: 2.25rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    nav {
        padding: 3rem 8rem;
    }

    .nav-desktop-container {
        display: none;
    }

    .nav-mobile-container.show {
        display: flex;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-mobile-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        margin: 0 0 10rem 0;
    }

    .nav-mobile-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
    }

    .hamburger-menu {
        display: block;
        font-size: 2.25rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    nav {
        padding: 3rem 8rem;
    }

    .nav-desktop-container {
        display: none;
    }

    .nav-mobile-container.show {
        display: flex;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-mobile-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        margin: 0 0 10rem 0;
    }

    .nav-mobile-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
    }

    .hamburger-menu {
        display: block;
        font-size: 2.25rem;
    }

}