@media screen and (max-width: 600px) {

    h3, .section-title, .project-title {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 2rem 0 2rem 0;
    }

    .project-card {
        height: 40rem;
        width: 30rem;
    }

    .project-image-container {
        height: 14rem;
        width: 100%;
    }

    .project-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: .5rem 0 0 1rem;
        padding: 1rem 0 1rem 0;
        letter-spacing: .1rem;
    }

    .project-description {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2.5rem;
    }

    .project-controls button {
        font-size: 1.2rem;
        font-weight: 400;
        width: 10rem;
    }

}