@media screen and (max-width: 320px) {

    .skills-container {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 321px) and (max-width: 576px) {

    .skills-container {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10rem;
    }

}