@media screen and (max-width: 600px) {

    .skills-container {
        border: 1px solid #000;
        gap: 5rem;
        width: 100%;
    }

    .my-skills {
        border: 1px solid #000;
        gap: 3rem;
        width: 100%;;
        width: 100%;
    }

    .skill-icon {
        font-size: .75rem;
    }

    .skill-name {
        font-size: 1rem;
    }

}