:root {
    --section-title-font: 1.75rem;
    --section-title-font-weight: 200rem;
    --section-title-font-spacing: .2rem;
}

@media screen and (max-width: 600px) {

    /* Navigation Section */

    .nav-logo {
        font-size: 1.25rem;
    }

    .professional-logo {
        font-size: 1.1rem;
        font-weight: 200;
    }

    /* About Me Section */

    .about-me-section {
        border: 1px solid #000;
        display: grid;
        grid-template-columns:  1fr;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
        height: 180vh;
    }

    .about-me-title {
        font-size: var(--section-title-font);
        font-weight: var(--section-title-font-weight);
        letter-spacing: var(--section-title-font-spacing);
    }

    .about-me-image-container {
        height: 20rem;
        width: 15rem;
    }

    .about-me-introduction {
        font-size: 1rem;
        line-height: 2.25rem;
        margin: 0;
        margin-bottom: 3rem;
        max-width: 100%;
        display: flex;
        text-align: center;
    }

    /* Skill Section */

    .skills-section {
        height: 300vh;
        padding: 2rem 0;
        border: 1px solid #000;
    }

    .section-title {
        font-size: var(--section-title-font);
        font-weight: var(--section-title-font-weight);
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .my-skill {
        font-size: 1.25rem;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: .2rem;
        padding: 2rem 0;
    }

    .skill-cards-container {
        display: grid;
        grid-template-columns: .1fr .1fr;
        grid-template-rows: .1fr .1fr;
        gap: 2rem;
        margin: 4rem 0 0 0;
        justify-content: center;
    }

    .skill-card {
        object-fit: contain;
        height: 6rem;
        width: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-icon {
        font-size: 2.5rem;
    }

    .skill-title {
        font-size: 1.1rem;
        font-weight: 350;
    }

}