/* Banner Title */

.banner-title {
    display: block;
    font-size: 5rem;
    font-weight: 200;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 25rem;
    min-width: 100%;
}

.banner-title span:first-child::before {
    position: absolute;
    content: '';
}

.banner-title span:nth-child(2)::before {
    position: absolute;
    content: '';
}
.banner-title span:nth-child(3)::before {
    position: absolute;
    content: '';
}

.banner-title span:first-child::after {
    position: absolute;
    content: 'Billy English';
    z-index: 1;
}

.banner-title span:nth-child(2)::after {
    position: absolute;
    content: 'Billy English';
    z-index: 2;
}
.banner-title span:nth-child(3)::after {
    position: absolute;
    content: 'Billy English';
    z-index: 3;
}

/* Banner Subtitle */

.banner-subtitle {
    display: block;
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    position: absolute;
    top: 32rem;
    left: 29rem;
    min-width: 100%;
}

.banner-subtitle span:first-child::before {
    position: absolute;
    content: '';
}

.banner-subtitle span:nth-child(2)::before {
    position: absolute;
    content: '';
}
.banner-subtitle span:nth-child(3)::before {
    position: absolute;
    content: '';
}

.banner-subtitle span:first-child::after {
    position: absolute;
    content: 'Software Engineer';
    z-index: 1;
}

.banner-subtitle span:nth-child(2)::after {
    position: absolute;
    content: 'Software Engineer';
    z-index: 2;
}
.banner-subtitle span:nth-child(3)::after {
    position: absolute;
    content: 'Software Engineer';
    z-index: 3;
}

/* Social Menu */

.social-menu {
    font-size: 2.25rem;
    z-index: 3;
    position: relative;
    top: 24rem;
    left: 84rem;
}

.social-menu ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}