@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Body Section */

body {
  font-family: 'Fuzzy Bubbles';
  font-size: 62.5%;
  min-height: 100vh;
}

/* Main Section */

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#homepage_section,
.main_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 70rem;
}

#homepage_title {
  font-size: 2.5rem;
  font-weight: 400;
}

#homepage_subtitle {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
}

button {
  font-family: "Fuzzy Bubbles";
}

button:hover {
  cursor: pointer;
}

#homepage_controls {
  display: flex;
  gap: 2rem;
}

.homepage_button {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.homepage_button:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.section_content {
  display: flex;
  justify-content: center;
  padding: 6rem 0 0 0;
}

.section_title {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* Footer Section */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 3rem;
}

#footer_paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 1rem;
  font-weight: 500;
}

#copyright {
  display: flex;
  align-self: center;
  font-size: 1.1rem;
}