@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --h3-header-size: 3rem;
  --h3-font-weight: 400;
  --h3-letter-spacing: .2rem;
  --h3-text-transform: capitalize;
  --h3-margin-spacing: 5rem 0 3rem 0;

  /* Default colors */

  --background-color: #F5F2EC;
  --primary-text: #2C2C2C;
  --accent-primary: #D1A91A;
  --accent-secondary: #376983;
  --action-color: #B7372F;
  --surface-color: #FFFFFF;
  --border-color: #C2B8A3;
  --link-hover: #264653;
}

/* Global Selectors */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Html and Body Section */

html, body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}

/* Body Section */

body {
  background-color: var(--background-color);
  color: var(--primary-text);
}

/* Main Sections */

section {
  min-height: 100vh;
  padding: 3rem 10rem 5rem;
  width: 100%;
}