@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-font-family: 'Fuzzy Bubbles';
    --secondary-font-family-1: 'Open Sans';
    --secondary-font-family-2: 'Matangi';
    --secondary-font-family-3: 'Karla';

    --primary-font-size: 3rem;
    --secondary-font-size-1: 1.75rem;
    --secondary-font-size-2: 1.5rem;
    --secondary-font-size-3: 1.25rem;
    --secondary-font-size-4: 1.1rem;

    --paragraph-font-size: 1.1rem;

    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;
    --font-weight-200: 200;

    --section-height: calc(100vh - var(--footer-height));

    --footer-height: 3rem;

}

/* Dark Mode Theme */

/* Html Section */

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--primary-font-family), 'Open Sans', 'Karla';
    font-size: 62.5%;
    min-height: 100vh;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: var(--section-height);
}

.section_title {
    font-size: var(--secondary-font-size-1);
    font-weight: var(--font-weight-400);
}

button {
    font-family: var(--primary-font-family), var(--secondary-font-family-1), var(--secondary-font-family-2);
    transition: all 0.25s ease-in-out;
}

button:hover, .btn:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 25px transparent;
}

footer {
    height: var(--footer-height);
}