#about_me_section {
    padding: 6rem 0;
}

.about_title {
    padding: 3rem 0;
}

#about_me_section_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
}

#about_me_image_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about_me_image {
    height: 28rem;
    width: auto;
}

#about_me_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.article_title {
    font-size: var(--secondary-font-size-2);
    text-align: center;
    padding: 1.5rem 3rem;
}

#about_me_paragraph_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    padding: 0 3rem;
}

.about_me_paragraph {
    font-size: var(--paragraph-font-size);
}