#about_me_section {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

#about_me_section_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: inherit;
    width: 100%;
    place-items: center;
    height: 75vh;
}

#about_me_image {
    height: 30rem;
    width: auto
}

#about_me_intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.article_title {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 3rem;
    padding: 0 3rem 0 0;
}

#about_me_paragraph_container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 3rem 0 0;
}

.about_me_paragraph {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
}

