#about_me_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about_me_section_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 80vh;
}

#about_me_image_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about_me_image {
    height: 28rem;
    width: auto;
}

#about_me_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.article_title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 3rem;
}

#about_me_paragraph_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    padding: 0 3rem;
}

.about_me_paragraph {
    font-size: 1.1rem;
}