#contact_me_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0 0 0;
}

.contact_title {
    display: flex;
    text-align: center;
}

#form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

input {
    font-family: 'Fuzzy Bubbles', 'Open Sans';
    height: 3rem;
    width: 32rem;
}

input[type=text] {
    display: flex;
    align-items: center;
    font-size: var(--secondary-font-family-2);
    padding: 0 0 0 .25rem;
    color: #000;
}

input::placeholder {
    font-family: 'Fuzzy Bubbles';
    font-size: 1.5rem;
    color: #000;
}

textarea {
    font-size: var(--secondary-font-family-2);
    height: 18rem;
    width: 32rem;
    resize: none;
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding: .5rem 0 0 .25rem;
    color: #000;
}

textarea::placeholder {
    font-family: 'Fuzzy Bubbles';
    font-size: var(--secondary-font-family-2);
    color: #000;
}

.form_control_panel {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.form_button {
    font-size: 1.25rem;
    font-weight: 400;
    padding: .2rem .25rem;
    width: 6rem;
}