footer {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
}

#footer_paragraph {
    display: flex;
    gap: .5rem;
    font-size: 1.1rem;
}

#copyright {
    font-size: 1.5rem;
}