footer {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
}

#footer_paragraph {
    display: flex;
    gap: .5rem;
    font-size: 1.1rem;
}

#copyright {
    font-size: var(--secondary-font-size-2);
    font-weight: var(--font-weight-500);
}