footer {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    font-size: 1.5rem;
}

.footer-copyright {
    font-weight: 500;
    color: var(--accent-primary);
}

.footer-contact-container {
    display: flex;
    gap: 1rem;
}

.footer-item a {
    font-size: 2rem;
    color: var(--accent-primary);
}