#homepage_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.25rem;
  width: 70%;
}

#homepage_title {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
  font-weight: 400;
}

#homepage_subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.75rem;
}

#homepage_controls {
  display: flex;
  gap: 2rem;
}

button {
  font-family: "Fuzzy Bubbles", "Open Sans", "Poppin", "Karla";
}

button:hover {
  cursor: pointer;
}

.homepage_button {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.homepage_button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.homepage_button {
  position: relative;
}

.homepage_button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.homepage_button:hover::after {
  transform: scaleX(1);
}
