nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  height: 5rem;
  padding: 2rem;
}

#nav_logo {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nav_list_menu_buttons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.nav_menu_button {
  border: none;
  background-color: transparent;
}

.nav_menu_button:hover {
  cursor: pointer;
}

#nav_desktop_menu {
  display: none;
}

#nav_desktop_menu_open {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 8.75vh;
  right: 0;
  min-height: 91.25vh;
  width: 18rem;
  z-index: 15;
}

#nav_desktop_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 8rem 0 0 0;
}

.list_item {
  font-size: 1.5rem;
  font-weight: 400;
}

.nav_desktop_sub_list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.list_sub_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}

.list_sub_item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 300;
  gap: .5rem;
}