nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2.5rem;
    z-index: 5;
}

#nav_logo {
    font-size: 1.75rem;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: .25rem;
}

.nav_list_menu_buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.nav_menu_button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.75rem;
}

.nav_list_menu_buttons {
    display: flex;
}

#nav_desktop_menu_open, #nav_desktop_menu {
    display: none;
}

#nav_desktop_list {
    display: none;
}