nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2.5rem;
    z-index: 25;
    position: fixed;
    width: 100%;
}

#nav_logo a {
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline;
}

#nav_logo a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.nav_list_menu_buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.nav_menu_button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.75rem;
}

.nav_list_menu_buttons {
    display: flex;
}

#nav_menu_open {
    display: flex;
    left: 0;
}

#nav_menu_close {
    display: none;
}

.nav_menu_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -20;
    top: 0;
    left: 100%;
    background-color: #FFF;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: left 0.35s ease;
}

.list_item a {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    gap: .75rem;
    align-items: end;
}

.nav_menu_sub_list {
    display: flex;
    gap: 2rem;
}

.list_sub_item {
    font-size: 1.25rem;
}

.nav_pos {
    font-size: 1.1rem;
    font-weight: 400;
}