nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2.5rem;
    z-index: 25;
    position: absolute;
    width: 100%;
}

#nav_logo {
    font-size: 1.75rem;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: .25rem;
}

.nav_list_menu_buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.nav_menu_button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.75rem;
}

.nav_list_menu_buttons {
    display: flex;
}

#nav_menu_open {
    display: flex;
}

#nav_menu_close {
    display: none;
}

.nav_menu_list {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -20;
    top: 0;
    left: 0;
    background-color: #FFF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.list_item a {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    gap: .75rem;
    align-items: end;
}

.nav_menu_sub_list {
    display: flex;
    gap: 2rem;
}

.list_sub_item {
    font-size: 1.25rem;
}

.nav_pos {
    font-size: 1.1rem;
    font-weight: 400;
}