.project-card {
    border: 1px solid var(--primary-text);
    height: 34rem;
    width: 48rem;
    box-shadow: 16px 10px 5px #000;
    background-color: var(--accent-secondary);
}

.project-card:hover {
    cursor: pointer;
    animation: animate-project-card 4s ease-in 2s;
}

@keyframes animate-project-card {
    0% {
        transform: rotate(-2deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.project-image-container {
    border: 1px solid #000;
    height: 15rem;
    width: 100%;
}

.project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-text-containter {
    padding: 10rem;
}

.project-title {
    font-family: "Matangi", Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    margin: .5rem 0 0 1rem;
    padding: 0 0 .5rem 0;
    letter-spacing: .2rem;
    color: var(--accent-primary);
}

.project-description {
    font-family: "Matangi", Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: .5rem 1rem 0 1rem;
    text-align: justify;
    color: var(--text-primary);
}

.project-controls {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
}

.project-controls button {
    font-family: "Matangi", Arial, sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: .1rem .3rem;
    width: 10rem;
    border: 1px solid #000;
    border-radius: .1rem;
    background-color: var(--text-secondary);
    color: var(--text-primary);
    border-color: var(--border-color);
}

.project-controls button:hover {
    cursor: pointer;
    animation: form-button-anime .6s ease-in-out infinite;
    border-color: var(--accent-primary);
    background-color: var(--border-color);
    color: var(--accent-primary);
}

@keyframes form-button-anime {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}