#projects_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    gap: 1rem;
}

.project_title {
    padding: 4rem 0 2rem 0;
}

#project_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 100%;
    place-items: center;
    place-content: start;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 1rem;
}

.project_card {
    border: 1px solid black;
    border-radius: .25rem;
    height: 18rem;
    width: min(30rem, 100%);
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.card_title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 0;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.card_subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: .25rem 0;
}

.tech_stack {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    padding: 1rem 0;
}

.description {
    font-size: .6rem;
    font-weight: 500;
    padding: .1rem 0;
}

.project_description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.project_control_panel {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0 0 .5rem 0;
}

.project_button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}
