#skills_section {
    justify-content: flex-start;
    padding: 4rem 0 0 0;
    gap: 3rem;
}

.skills_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    column-gap: 5rem;
}

.my_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.category_title {
    font-size: 1.25rem;
    font-weight: 300;
}

.my_skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 3rem;
}

.skills_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_icon {
    font-size: 2.5rem;
}

.skill_title {
    font-size: 1.25rem;
    font-weight: 300;
}